.logo img {
  width: 80px;
}
body {
  background: #0f0f0f;
}
header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(199, 199, 199);
  background: linear-gradient(
    180deg,
    rgba(199, 199, 199, 0.18663594470046085) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 20px;
}
.bars {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.line {
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background: #ffffff;
  transition: 0.3s;
}
#line-3.active {
  transition: 0.3s;
  transform: rotate(-35deg);
}
#line-1.active {
  transform: translate(0, 7.5px) rotate(45deg);
  transition: 0.3s ease-out;
}
#line-2.active {
  opacity: 0;
  transform: translate(-10px);
  transition: 0.2s;
}
#line-3.active {
  transform: translate(0, -6.2px) rotate(-45deg);
  transition: 0.3s ease-out;
}
.nav-bar ul {
  display: flex;
  margin: 0;
  padding: 50px 0;
  list-style: none;
}
.nav-bar ul li a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #06c8fd;
  transition: 0.2s;
  margin: 0 5px;
  background: transparent;
  text-decoration: none;
}
/* final nav-bar */

/* section hero */
.hero-text {
  width: 100%;
  text-align: center;
}
.hero {
  color: #ffffff;
  margin: 5% 25%;
}

/* final hero */

/* swiper */

.swiper {
  width: 600px;
  height: 300px;
  border-radius: 15px;
}
.swiper img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.logo img {
  width: 60px;
}

.nav-bar {
  height: 0px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  background: #0f0f0f;
  transition: 0.5s;
  overflow: hidden;
  z-index: 20;
  box-shadow: 0px 2px 5px #000000;
}
.nav-bar.active {
  height: 80%;
}
.nav-bar ul {
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar.nav-bar.active ul {
  opacity: 1;
}
.nav-bar ul li a {
  margin-bottom: 20px;
}
/* hero */
.hero {
  text-align: center;
}

/* swiper */
.swiper {
  width: 70vw;
  height: 300px;
  border-radius: 15px;
}
